// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
fieldset{
	border: 0;
	border-top: 1px dotted #888;
	margin: 1em 0;

	label, input, textarea{
		display:block;
	}
}
